[2016-02-02 16:27] korzio opened #1 "add djv validator to json schema suite"
https://github.com/atomiqio/json-schema-test-suite
also to readme

[2017-01-05 10:43] korzio opened #3 "Add invalid keys properties support"
- Schemas with properties containing wrong JavaScript key names (*abc-def*) fail to generate

Example
`
{
  "config": {
    "type": "object",
    "properties": {
      "abc-def": {
        "type": "object",
        "properties": {
          "key": {
            "type": "string"
          },
          "url": {
            "type": "string"
          },
          "required": ["key", "url"]
        }

[2017-01-05 11:35] #3 closed

[2017-01-09 10:21] korzio opened #5 "Add semver example"
With a following schema

[code]

[2017-01-11 16:28] #5 closed

[2017-01-16 14:34] korzio opened #7 "Optimize function generation"
- Functions used inside the generated function can be executed on addSchema step, not inside the [function body](https://github.com/korzio/djv/blob/master/lib/generate.js#L40). So, update `generate` function for premature inner helpers functions definition.

[2017-01-16 14:40] #7 closed

[2017-01-16 16:13] korzio commented on #1
https://github.com/ebdrup/json-schema-benchmark/pull/24

[2017-01-16 16:13] #1 closed

[2017-01-16 16:33] korzio opened #9 "Optimization - move variables outside of executed function"
For final generated function variables are added [dynamically to the function body](https://github.com/korzio/djv/blob/master/lib/generate.js#L33). This could be moved to a wrapped generated function, so it will not be executed on each function.

## Investigate
- how much faster it will be in common case
- dynamically release used variables

[2017-01-16 16:35] korzio opened #10 "Refactoring - update to es6 usage, add eslint, etc"
- Update to es6
- Add [airbnb style](https://www.npmjs.com/package/eslint-config-airbnb-base) eslint config

[2017-01-16 16:40] korzio opened #11 "Optimization - decrease generatedNonRefFunctions"
Generated internally used functions without references like
[code]
Should be replaced with inline analog.

@see [performance branch](https://github.com/korzio/djv/blob/performance/lib/measured.js)[](url)

[2017-01-16 16:46] korzio opened #12 "Optimization - Avoid empty functions"
Some generated functions

[code]

- Figure it out 1 schema, is it an error?!
- Avoid empty functions generation, use inline expression

[2017-01-16 16:56] korzio opened #13 "Refactoring - Change internal state"
For resolving internal references it is used a [stack of states](https://github.com/korzio/djv/blob/performance/lib/generate.js#L6), and it adds a state each time function goes into recursion. To find appropriate context, validator creates an object. This should be optimized at least to create a state only if necessary.
- Refactor state stack mechanism.

[2017-01-16 16:58] korzio opened #14 "Improvement - Normalize utils"
- Update utils with mirroring concept - now they are using `fn() ? invalid: valid`, should be vice versa
- Move utils to separate package?!

[2017-01-16 17:00] korzio opened #15 "Feature - Add possibility to customize format"
- Add possibility to customize format types

[2017-01-16 17:02] korzio opened #16 "Feature - Add possibility to customize error messages"
- Execute user callback when error is thrown.

[code]

- Add an option to show all messages (now it will stop to execute if any validator has failed)

[2017-01-16 17:05] korzio opened #17 "Feature - Support draft05, draft06"
- [x] Document required changes for draft-05 as a new issue
- [x] Document required changes for draft-06 as a new issue
- [x] Make a issue for implementing changes
- [x] Implement changes. Make tests work
- [x] Change description to support draft-06 in json-schema-benchmark

[2017-01-17 15:05] korzio opened #18 "Compatibility - Add djv to the list of tested validators"
- Add djv to the list of [test validators](https://github.com/epoberezkin/test-validators)

[2017-02-18 10:24] Anthropic commented on #16
It would be great if there was a way to provide the same error codes as TV4, our framework has relied on that for a looooong time and I want to get something faster embedded without causing a world of hurt for users. Just thought I'd mention it.

[2017-02-19 17:39] korzio commented on #16
I'm looking into ajv implementation as well - it make sense to do it as close as possible between projects

[2017-04-20 18:17] mamendoz opened #20 "Defect - TypeError: Cannot read property 'schema' of undefined"
Doing a quick test to see if I can use djv to validate Swagger 2.0.

Using `djv@1.0.0-beta.0`:

Here is the sample script:

[code]

Here is the output when running it:

[code]

Files used in script:

[swagger2.json](https://raw.githubusercontent.com/OAI/OpenAPI-Specification/master/schemas/v2.0/schema.json)
[json-schema-draft-v4.json](http://json-schema.org/draft-04/schema#)

[2017-05-08 01:52] handrews commented on #17
Draft-06 is out!

[Guide for core and validation](https://github.com/json-schema-org/json-schema-spec/wiki/FAQ:-draft-wright-json-schema%5B-validation%5D-01)
[Guide for hyper-schema](https://github.com/json-schema-org/json-schema-spec/wiki/FAQ:-draft-wright-json-schema-hyperschema-01)

[2017-05-08 03:26] Anthropic commented on #17
@korzio if you support at least half the items from 5/6 I will start switching my lib over to support yours, promise :)

[2017-05-23 15:36] korzio commented on #20
@mamendoz  I've started working on it -
 https://github.com/korzio/djv/commit/048fec7a819b40ff619f7ee667a049396f501d9d . So, I've tried a simple fix with adding an id to a resolved schemas space. But apparently, the problem is bigger - so now, it can find a json-schema in a scope, but it exceeds a call stack limit. I'll go further to update a resolving algorithm, and this story is [already in back

[2017-05-23 15:38] korzio commented on #17
@Anthropic I have plans for it. I think I'll start working on it next month. Thx anyways

[2017-05-27 16:38] #10 closed

[2017-05-27 16:38] korzio commented on #10
Done

[2017-05-28 21:37] damon-kreft opened #23 "Improve error reporting"
Hey. Firstly, great job. I'm working on an application analytics abstraction framework project for some of the UK's largest retailers dealing with very heavy traffic to their sites. I'm in need of a schema validation framework as part of it and application bundle size really matters. Various schema validators I've assessed add 100kb+ to the overall, optimised (usually Webpack based) application si

[2017-05-29 13:51] korzio commented on #23
Thanks @damon-kreft , there is already a ticket related to formatting an error - https://github.com/korzio/djv/issues/16 , and this is one of the next priorities

[2017-06-03 12:21] korzio commented on #13
Remove `toFunction`

[2017-06-04 14:59] damon-kreft commented on #23
Ah apologies, I overlooked that. Thanks @korzio

[2017-06-06 10:13] #13 closed

[2017-06-06 10:18] korzio commented on #20
Fixed #20 together with #13

[2017-06-06 10:18] #20 closed

[2017-06-06 10:32] korzio commented on #14
Same for validators, f.e.
[code]
could be rewritten with a es6 template (that is for investigation)

[2017-06-07 08:13] korzio opened #26 "Release 1.1.0"
- [x] Check speed metrics
- [x] Check with updated json-schema test suite
- [x] Create a changelog
- [x] Update Readme
- [x] Publish test npm version 1.1.0-alpha.0, check package internals
- [x] Tag 1.1.0
- [x] Publish version 1.1.0
- [x] Send update to gitter

[2017-06-07 16:37] #15 closed

[2017-06-09 09:35] korzio commented on #14
- add destructuring for template, it will make code cleaner

[2017-06-09 15:09] korzio commented on #16
Hey @Anthropic I've just created [a mr](https://github.com/korzio/djv/pull/28/files) regarding this feature. Please take a look into [a error handler format](https://github.com/korzio/djv/pull/28/files#diff-8e36e6270e46cbd86800680c612d2842R234) if you are still interested - now it is possible to generate any type of error, also with multi errors mode. This feature will be included in 1.1.0

[2017-06-09 15:10] korzio commented on #23
Hey @damon-kreft I've just created [a mr](https://github.com/korzio/djv/pull/28/files) regarding this feature. Please take a look into [a error handler format](https://github.com/korzio/djv/pull/28/files#diff-8e36e6270e46cbd86800680c612d2842R234) if you are still interested - now it is possible to generate any type of error, also with multi errors mode. This feature will be included in 1.1.0 relea

[2017-06-11 08:50] korzio commented on #23
https://github.com/korzio/djv/pull/28/files

[2017-06-11 08:50] #23 closed

[2017-06-11 08:50] korzio commented on #16
Done https://github.com/korzio/djv/pull/28/files

[2017-06-11 08:50] #16 closed

[2017-06-15 07:39] korzio commented on #14
Moved to the next release, as I expect there will be some bugfixes related to utils as well, and also some work is already done - https://github.com/korzio/djv/commit/6c994916aa619ac44505a57a3fafb679d2760b40

[2017-06-16 10:49] korzio commented on #26
# Before (node 8)

## Performance

![performance](https://chart.googleapis.com/chart?chxt=x,y&cht=bhs&chco=76A4FB&chls=2.0&chbh=36,4,1&chs=600x420&chxl=-1:|djv|ajv|jsen|is-my-json-valid|schemasaurus|themis|z-schema|jsck|jsonschema|tv4&chd=t:100,76.9,52.4,47.7,14.5,12,4.4,4.2,1,0.4)

|Validator|Relative speed|Number of test runs per second|
|---------|:------------:|:----------------------------:|

[2017-06-16 10:51] korzio commented on #26
# After (node 8)

## Performance

![performance](https://chart.googleapis.com/chart?chxt=x,y&cht=bhs&chco=76A4FB&chls=2.0&chbh=36,4,1&chs=600x420&chxl=-1:|djv|ajv|jsen|is-my-json-valid|schemasaurus|themis|z-schema|jsck|jsonschema|tv4&chd=t:100,74.8,50.5,47,13.9,11.7,5.1,4.2,1,0.4)

|Validator|Relative speed|Number of test runs per second|
|---------|:------------:|:----------------------------:|
|

[2017-06-16 11:03] korzio opened #29 "Fix JSON-schema-validators suite failing tests"
[JSON-schema-validators test suite report](https://github.com/ebdrup/json-schema-benchmark/blob/master/reports/djv.md)

test failed|reason
|-----------|------
|`a schema given for items, JavaScript pseudo-array is valid`|Expected result: `true` but validator returned: `false`
|`an array of schemas for items, incomplete array of items`|Expected result: `true` but validator returned: `false`
|`an ar

[2017-06-16 11:04] korzio commented on #26
Failing tests for JSON-Schema tests suite will be fixed in the next release (1.1.1 milestone) - https://github.com/korzio/djv/issues/29

[2017-06-17 09:41] korzio opened #31 "POC: Inline generated functions"
When generator creates a new function for schema it uses internal private functions for schemas used inside. This functions are declared in a output function body. Inlining those functions should make validator much faster.

[2017-06-17 09:44] korzio commented on #26
With a 1.1.0-alpha.0 release the root djv.js is a wrong build, so there will be 1.1.0-alpha.1 published soon (as soon as webpack update is solved)

[2017-06-17 10:22] korzio commented on #26
`1.1.0` is released!

[2017-06-17 10:22] #26 closed

[2017-06-18 09:14] korzio opened #33 "Avoid using this in API"
For `addFormat` (?!), `setErrorHandler` and other functions it is possible to specify methods, which can modify internal state of the validator or templater. That should be avoided by specifying only schema, errors and other variables only be accessible. So,
- make this inaccessible,
- make schema, errors (already), data accessible,
- ...

[2017-06-28 08:05] korzio opened #34 "Add concatenation to built version"
As a `"frontend"` djv user I want to
My built djv package uses a single anonymous function

[code]

* [x] Update to [webpack 3](https://medium.com/webpack/webpack-3-official-release-15fd2dd8f07b)
* [x] Add a ModuleConcatenationPlugin
* [x] Add a npm prepublish hook to built everything before a package is actually published
* [x] Add sourceMaps for an uglified version

[2017-07-06 12:04] korzio opened #35 "Release 1.1.1"
- [x] Create a relese ticket in github. Copy this checklist.
- [x] Make a release branch
[code]
- [x] Update package.json version to $VERSIONALPHA and commit
[code]
- [x] Tag with the alpha version
[code]
- [x] Publish test npm version $VERSIONALPHA
[code]
- [x] Check package internals - contains all required files (`lib/`, `README.md`, `./djv.js`, `package.json`, ...), no extra files
- [x] Check

[2017-07-07 14:02] korzio opened #36 "Add template if function and collapse multiple consequent cases"
- Check jsperf or other resource that optimization makes sense
- Add template if function
- Replace all validators related if-cases

Possible Syntax
[code]

Generated function code example
[code]

[2017-07-12 16:38] damon-kreft opened #37 "Module entry point"
Hey @korzio,

Thanks for the latest release.

We've noticed when optimising a build for production and running everything through UglifyJS (this is a Webpack based build) that UglifyJS throws and error because it is coming across ES6 code in djv, which it of course doesn't understand.

Currently, I'm having to transpile it to ES5 explicitly in my project - https://github.com/operation-orange/analy

[2017-07-13 07:29] korzio commented on #37
Hi @damon-kreft
It was intentionally done like that - `djv/lib/djv.js` is a "nodejs version" - not transpiled, just a raw code. But you are right, a `djv/djv.js` version is already transpiled and uglified, so I guess you could use it for your build with by including the validator with a custom path smth like `require('djv/djv.js')`. Does it solve your case?

[2017-07-20 10:27] korzio commented on #18
Already in the list

[2017-07-20 10:27] #18 closed

[2017-07-20 10:29] korzio commented on #29
Current list of failing tests looks like

|test failed|reason
|-----------|------
|`ECMA 262 regex non-compliance, ECMA 262 has no support for \Z anchor from .NET`|Expected result: `false` but validator returned: `true`
|`validation of URIs, an invalid protocol-relative URI Reference`|Expected result: `false` but validator returned: `true`
|`some languages do not distinguish between different type

[2017-07-20 10:29] #29 closed

[2017-07-20 12:41] korzio commented on #34
https://github.com/korzio/djv/pull/39

[2017-07-20 12:41] #34 closed

[2017-07-20 13:10] korzio commented on #35
Before

|test failed|reason
|-----------|------
|`a schema given for items, JavaScript pseudo-array is valid`|Expected result: `true` but validator returned: `false`
|`an array of schemas for items, incomplete array of items`|Expected result: `true` but validator returned: `false`
|`an array of schemas for items, empty array`|Expected result: `true` but validator returned: `false`
|`an array of sc

[2017-07-20 13:53] korzio commented on #35
https://github.com/korzio/djv/pull/40

[2017-07-20 14:10] #35 closed

[2017-07-22 12:37] korzio opened #41 "Refactor the state"
- [x] Document current architecture
- [x] Document state resolution examples from json-schema benchmark
- [x] Document new state algorithm
- [x] Implement new state algorithm
- [x] Include $id support for draft-06

[2017-07-23 13:45] korzio opened #42 "Document required changes to support draft-05"
https://tools.ietf.org/html/draft-wright-json-schema-00
https://tools.ietf.org/html/draft-wright-json-schema-validation-00
https://tools.ietf.org/html/draft-wright-json-schema-hyperschema-00

References
- https://github.com/json-schema/json-schema/issues/167#issuecomment-253535236
- #17

[2017-07-23 14:17] korzio commented on #42
- https://tools.ietf.org/rfcdiff?url2=draft-wright-json-schema-00.txt
- https://tools.ietf.org/rfcdiff?url2=draft-wright-json-schema-validation-00.txt
- https://tools.ietf.org/rfcdiff?url2=draft-wright-json-schema-hyperschema-00.txt

----------------------

1. use `$schema` keyword to identify the version of a used specification

[2017-07-23 14:29] #42 closed

[2017-07-26 10:09] korzio opened #43 "Document required changes to support draft-06"
- https://tools.ietf.org/rfcdiff?url2=draft-wright-json-schema-01.txt
- https://tools.ietf.org/rfcdiff?url2=draft-wright-json-schema-validation-01.txt
- https://tools.ietf.org/rfcdiff?url2=draft-wright-json-schema-hyperschema-01.txt

References
- https://github.com/korzio/djv/issues/17

[2017-07-26 14:02] korzio commented on #43
--------

1. Check and change if necesarry if boolean values could be a valid schema

2. Optionally check for $schema in the root, and warn about presence in subschemas

[2017-07-27 10:29] #43 closed

[2017-07-27 10:37] korzio opened #44 "Implement draft-06 changes"
- [x] -1. Add draft-06 tests

- [x] 0. Use $schema keyword to identify the version of a used specification and use separate specification keywords for different schema versions

- [x] 1. Check and change if necesarry if boolean values could be a valid schema

- [x] 2. Optionally check for $schema in the root, and warn about presence in subschemas

- [x] 3. Use $id instead of id

- [x] 4. Check oth

[2017-08-02 14:54] korzio commented on #44
http://json-schema.org/draft-06/json-schema-migration-faq.html

[2017-08-11 13:24] korzio opened #45 "POC: Add template forEach function and change it to forEach implementation"
As a djv validator developer
I want to have a template `forEach` function to easily construct cicles for validator functions

Example:
Instead of
[code]
I want smth like
[code]

[2017-08-14 18:18] korzio opened #46 "Fix additionalProperties on nested schemas"
When a schema is nested (not on a first level),
When the [iteration of properties](https://github.com/korzio/djv/blob/master/lib/validators/patternProperties.js#L56) uses an expression
[code]
Then a schema is taken from the context of the generated validation function,
Then it is a single start point schema.
When additoonalProperties is used on a nested level
Then it will fail to validate

Example

[2017-08-30 15:25] korzio commented on #44
Implemented changed include everything except `id` - that part will be fixed in https://github.com/korzio/djv/issues/41

[2017-08-30 15:28] korzio commented on #44
https://github.com/korzio/djv/pull/47/files
This MR will exist until the fixes for state are introduced and all tests are passing. As soon as the branch is ready, there will be a new release introduced with a major version change.

[2017-08-30 15:28] #44 closed

[2017-08-30 15:31] korzio opened #48 "Release 2.0.0"
- [x] Update documentation for draft-06 support
- [x] Remove environment update solution - make draft-06 default, add draft-04 configuration optional package
- [x] Create a release ticket in github. Copy this checklist.
- [x] Make a release branch
[code]
- [x] Update package.json version to $VERSIONALPHA and commit
[code]
- [x] Tag with the alpha version
[code]
- [x] Publish test npm version $VERS

[2017-09-15 20:50] sberan opened #49 "Coercion"
Hi, thanks for writing this library! I like the cleanliness of the code and it appears to be wicked fast 🔥

Have you thought about adding type coercion? It's the only thing keeping me from switching from my current validator. I'd be willing to collaborate on this if it's something you think makes sense in the library.

[2017-09-18 08:09] korzio commented on #49
Hi @sberan, thanks for the comment!
Are you talking about [this kind of coercion](https://github.com/epoberezkin/ajv/blob/master/COERCION.md)? Cannot find, does it have an official documentation or it should follow ECMAScript specification?
Yes, I think this could be a next feature (~2-3 months) to implement after [releasing draft-06 support](https://github.com/korzio/djv/issues/48) + [fix resolut

[2017-09-18 13:45] sberan commented on #49
@korzio that's precisely what I'm after. There is no spec I'm aware of either unfortunately. I will investigate further 👍

[2017-09-22 12:51] #41 closed

[2017-09-22 12:52] korzio opened #51 "Release 1.2.0"
- [ ] Create a release ticket in github. Copy this checklist.
- [ ] Remove TODOs
- [ ] Document new state algorithm
- [ ] Make a release branch
[code]
- [ ] Update package.json version to $VERSIONALPHA and commit
[code]
- [ ] Tag with the alpha version
[code]
- [ ] Publish test npm version $VERSIONALPHA
[code]
- [ ] Check package internals - contains all required files (`lib/`, `README.md`, `./djv

[2017-09-22 12:53] korzio commented on #41
https://github.com/korzio/djv/issues/51

[2017-09-22 12:53] korzio commented on #17
https://github.com/korzio/djv/issues/51

[2017-09-22 12:53] #17 closed

[2017-09-25 16:08] korzio commented on #51
**Performance**

Before

![performance](https://chart.googleapis.com/chart?chxt=x,y&cht=bhs&chco=76A4FB&chls=2.0&chbh=29,4,1&chs=600x416&chxl=-1:|djv|ajv|json-schema-validator-generator|jsen|is-my-json-valid|schemasaurus|themis|z-schema|jsck|skeemas|jsonschema|tv4&chd=t:100,78.4,62.4,55.5,52.8,22.7,15.7,6.4,5.7,1,0.9,0.5)

|Validator|Relative speed|Number of test runs per second|
|---------|:-----

[2017-09-25 16:10] korzio commented on #51
**Validation Errors**

Before

# All validators fail this test

`some languages do not distinguish between different types of numeric value, a float is not an integer even without fractional part`

# [`djv`](https://github.com/korzio/djv#readme) failed tests

Some validators have deliberately chosen not to support parts of the spec. Go to the [`djv`](https://github.com/korzio/djv#readme) homepage

[2017-09-27 15:02] korzio commented on #51
https://github.com/json-schema-org/json-schema-org.github.io/pull/158

[2017-10-07 09:05] Zyles opened #53 "Explain example"
I don't understand the example in the readme after trying for an hour or so

Using an example from the JSON schema docs:

http://json-schema.org/example1.html

[code]

Outputs: `type: data['id']`

This error message makes no sense to me. What is it telling me? How do I parse this so I can show an error message?

It would be better to say "property id is invalid" or whatever. Or return an object wi

[2017-10-07 09:44] Zyles commented on #53
Looking closer I see that I maybe should use the errorhandler, but I have a hard time figuring out how.

The example gives me console error:

`SyntaxError: Unexpected identifier`

For this line:

`data: '${this.data[this.data.length - 1]}'`

[2017-10-09 03:14] Anthropic opened #54 "Suggestion: Standardised error messages"
Would it be worth considering making a transition from/to ajv easier by allowing djv to return a [similar error object](https://github.com/epoberezkin/ajv#validation-errors) and additional API items like addMetaSchema?

[2017-10-09 08:11] korzio commented on #54
Yes, it would be, I agree. It is better to have validators do work in a similar style. I would plan this as an enhancement for the next minor releases.

[2017-10-09 08:12] korzio commented on #53
Thanks @Zyles for the comment. It looks like a bug, I will take a look this week.

[2017-10-09 11:28] #37 closed

[2017-10-09 11:28] korzio commented on #37
Closed. I think @damon-kreft has found a workaround

[2017-10-10 09:00] korzio opened #56 "POC - try arrow functions as inner utils"
Might be faster for newest environments

- [ ] use arrow functions
- [ ] use let and const
- [ ] check if 'use strict' is necesarry

[2017-10-10 09:03] korzio commented on #48
BEFORE

|Validator|Relative speed|Number of test runs per second|
|---------|:------------:|:----------------------------:|
|[`djv`](https://github.com/korzio/djv#readme)|100%|20723 (± 2.07%)|

|Validator|Number of failing tests (click for details)|
|---------|-----------------------|
|[`djv`](https://github.com/korzio/djv#readme)|[7](https://github.com/ebdrup/json-schema-benchmark/blob/master/rep

[2017-10-10 10:47] #48 closed

[2017-10-19 04:07] gentlefox opened #57 "json-pointers appear to be irrelevant"
Add a schema by name:

    env.addSchema('test', jsonSchema);

Validate dataObj against entire schema:

    env.validate('test', dataObj);

Validate dataProperty of dataObj against json-pointer ref of schema:

    env.validate('test#/dataProperty', { dataProperty: dataObj.dataProperty });

But results as if this was called:

    env.validate('test', { dataProperty: dataObj.dataProperty });

Checki

[2017-10-19 08:26] korzio commented on #57
Thanks @gentlefox I will look into it

[2017-10-20 00:33] gentlefox commented on #57
Actually, not an issue.
It was a draft version mismatch. Sorry to waste your time.
Thanks for what you've created.

[2017-10-20 00:33] #57 closed

[2017-10-26 08:51] korzio opened #58 "Documentation - update jsdoc, add djvi and jvu descriptions as separate pages"
Fix jsdocs

http://korzio.github.io/djv/

[2017-10-27 08:15] korzio commented on #54
https://gitter.im/korzio/djv?at=59f1ba7b210ac26920327dfb

[2017-10-30 16:06] korzio commented on #53
@Zyles I've added your example to the project tests list. I've updated to main documentation for setErrorHandler as well (it was throwing an error if just copy it)
Here is [a simple handler sample](https://github.com/korzio/djv/pull/59/files#diff-4522feb5eb658de02e0a4a5a2fc40c3eR45). However it is quite flexible, still the custom handling should be updated, and [that work is already planned](https

[2017-10-30 16:06] #53 closed

[2017-10-30 16:07] korzio commented on #53
Here is a PR - https://github.com/korzio/djv/pull/59

[2017-10-31 12:44] Anthropic commented on #46
@korzio would this issue be the cause of the following error?

Result from errorHandler:
[code]
From schema:
[code]
With data:
[code]

The error handlers I have for both ajv and tv4 pass the test with no objects added to the error array.

[2017-11-03 10:28] korzio commented on #56
Tested in the [feature branch](https://github.com/korzio/djv/tree/56-try-arrow-utils) - doesn't bring performance benefits. Decided to leave it as is in case someone relies on es5 generated functions.

[2017-11-03 10:29] #56 closed

[2017-11-23 16:17] korzio opened #60 "Update JSON-Schema to version Draft-07"
http://json-schema.org/documentation.html

[2017-11-23 18:58] korzio commented on #12
Takeaways from NodeConf

- Use v8 flags to test performance
- Use hasOwnProperty instead of a.b

[2017-11-23 22:09] aboyton commented on #54
I'm working on a schema in which almost every field is a `$ref` and so the errors I get back are all `$ref: data` which isn't very useful. From AJV I get something like:

[code]

[2017-11-24 09:16] korzio commented on #54
@aboyton YEs, I understand. The current approach is just the easiest one. This task is about standard formatted messages and it is planned for the next sprint.

[2017-11-24 09:25] aboyton commented on #54
That would be great. Let me know if there’s anything I can do to help. I looked around the code and it wasn’t obvious to me how to easily add it.

[2017-11-26 17:08] korzio commented on #54
@aboyton If you are interested, @Anthropic has been working on a nice validators adapters package and he's already done good work [regarding the messages standardisation](https://github.com/jsonschema/assimilate/blob/master/src/use/validator/djv.ts#L8) for `djv` package.
 👍

[2018-01-21 17:48] philsturgeon commented on #54
Oh I'd love this. I'm trying to write up some example code for a new book, and the examples are failing for me.

https://github.com/apisyouwonthate/talking-to-other-peoples-apis-code/tree/master/json-schema-validation

Clone the whole repo:

[code]

If we cannot get standard errors baked into the library easily soon, could we at least get a working example for robust errors into the README?

[2018-01-22 03:56] Anthropic commented on #54
Hey @philsturgeon as @korzio mentioned you may find Assimilate can help as it can test with ajv,djv and tv4 currently. You can see how it works in the test: https://github.com/jsonschema/assimilate/blob/master/spec/index.spec.ts

Still more work to do on it, but it is getting at least the basics sorted while hopefully making switching libraries much easier in future (especially when this issue is

[2018-01-22 22:57] philsturgeon commented on #54
Thank you. If it was for an implementation I was working on I'd just use it, but im trying to show off "How to do X" in a book, and I need a solution that'll stick still for a while. I'm using AJV for now sadly, but good luck with this!

[2018-03-13 08:11] andreypechkurov commented on #46
Hi guys.

Are there any updates on a fix for this bug? Or a known workaround?

[2018-03-15 16:34] korzio commented on #46
@andreypechkurov
I have to fix it indeed :(
A workaround probably could be some sort of `not` keyword usage

[2018-05-30 01:20] vtj2105 commented on #46
@korzio Could you elaborate a bit more on the work around?

[2018-06-24 11:01] korzio opened #65 "Release 2.1.0"
- [x] Create a release ticket in github. Copy this checklist.
- [x] Make a release branch
[code]
- [x] Update package.json version to $VERSIONALPHA and commit
[code]
- [x] Tag with the alpha version
[code]
- [x] Publish test npm version $VERSIONALPHA
[code]
- [x] Check package internals - contains all required files (`lib/`, `README.md`, `./djv.js`, `package.json`, ...), no extra files
- [x] Check

[2018-06-24 11:32] korzio commented on #65
![performance](https://chart.googleapis.com/chart?chxt=x,y&cht=bhs&chco=76A4FB&chls=2.0&chbh=32,4,1&chs=600x416&chxl=-1:|djv|ajv|json-schema-validator-generator|jsen|is-my-json-valid|themis|z-schema|jsck|skeemas|json-schema-library|tv4&chd=t:100,98,72.1,66.8,50.1,15.1,6.1,3.8,1.2,0.7,0.2)

|Validator|Relative speed|Number of test runs per second|
|---------|:------------:|:------------------------

[2018-06-24 11:46] #65 closed

[2018-06-28 03:10] vladyslav2 opened #67 "Error messages does not really make any sense"
Please do not do same error messages as ajv did, they are not really helpful.
I'm moving away from ajv cause it's hard to understand the problem based just on error message. You have to check the source code to get useful info. And whats harder is to create user-friendly error messages. I guess with ajv it's not really possible.

I tested your library, I decide to modify a home page example, simpl

[2018-06-28 03:33] Anthropic commented on #67
@vladyslav2 I think you should comment on this issue: https://github.com/json-schema-org/json-schema-spec/issues/396#issuecomment-398496923

There is a goal to standardise a _suggested_ implementation for the json-schema error format.

For making switching less painful we want the results to be the same, if a standard is reached then ajv will most likely also update as well.

Yes djv is the best :

[2018-06-28 20:31] vladyslav2 commented on #67
@Anthropic I'm not sure if they would understand me. I simply cannot understand approach they took.

Why don't you make it in a simple way:
[code]

Instead, fieldPath is floating from one parameter to other based on the error.

[2018-09-04 08:29] korzio opened #69 "Release 2.1.1"
- [x] Create a release ticket in github. Copy this checklist.
- [x] Make a release branch
[code]
- [x] Update package.json version to $VERSIONALPHA and commit
[code]
- [x] Tag with the alpha version
[code]
- [x] Publish test npm version $VERSIONALPHA
[code]
- [x] Check package internals - contains all required files (`lib/`, `README.md`, `./djv.js`, `package.json`, ...), no extra files
- [x] Check

[2018-09-04 09:07] korzio commented on #69
https://gitter.im/korzio/djv?at=5b8e4b1ed8d36815e5d3a3e1

[2018-09-04 09:07] #69 closed

[2018-09-14 01:40] nahidakbar opened #71 "Stack overflow error"
Test case

<pre>

var djv = require("djv")

var env = djv();

env.addSchema('test', {
    "$schema": "http://json-schema.org/schema#",
    "title": "Aspect capturing a complete representation of a distribution according to Project Open Data (data.json).",
    "type": "object",
    "allOf": [
      {
        "$ref": "https://project-open-data.cio.gov/v1.1/schema/distribution.json"
      }
    ]
  }

[2018-11-06 16:09] SebastienElet commented on #46
I was trying `djv` but i will have to bring back `ajv` because i meet this issue on all my schema :-(

[2018-11-27 09:10] korzio opened #73 "add integer test fix workaround"
[code]

[2019-01-20 13:43] ManuSevenval commented on #73
`1.000000000000001 % 1 === 0`
`false`

[2019-02-02 15:35] Jesperrekuh commented on #46
Same problem here.
Appreciate the work you've done so far, thank you!

[2019-03-06 03:45] kgkma opened #74 "Required validator throws on null values"
**Description**
When a definition of type `object` specifies required properties, passing in `null` to the `validate` method throws a `TypeError: Cannot read property 'hasOwnProperty' of null`.

**Steps to reproduce**
[code]

**Expected behaviour**
The validation fails and `errors` is populated with the validation error.

**Actual behaviour**
`TypeError: Cannot read property 'hasOwnProperty' of nu

[2019-03-06 09:52] #74 closed

[2019-03-06 09:56] korzio opened #76 "Release 2.1.2"
- [x] Create a release ticket in github. Copy this checklist.
- [x] Make a release branch
[code]
- [x] Update package.json version to $VERSIONALPHA and commit
[code]
- [x] Tag with the alpha version
[code]
- [x] Publish test npm version $VERSIONALPHA
[code]
- [x] Check package internals - contains all required files (`lib/`, `README.md`, `./djv.js`, `package.json`, ...), no extra files
- [x] Check

[2019-03-06 11:03] korzio commented on #76
![performance](https://chart.googleapis.com/chart?chxt=x,y&cht=bhs&chco=76A4FB&chls=2.0&chbh=29,4,1&chs=600x416&chxl=-1:|djv|ajv|jsen|json-schema-validator-generator|is-my-json-valid|themis|jsck|z-schema|skeemas|jsonschema|json-schema-library|tv4&chd=t:100,84.2,53.6,52.5,32.9,13.8,4.7,3.6,0.7,0.6,0.5,0.1)

|Validator|Relative speed|Number of test runs per second|
|---------|:------------:|:-------

[2019-03-06 11:11] korzio commented on #76
`2.1.2` Released

[2019-03-06 11:11] #76 closed

[2019-04-05 15:17] jacobbogers commented on #60
any progress on this? what time and effort would it take? maybe can help out

[2019-04-05 15:31] korzio commented on #60
@jacobbogers Unfortunately, didn't work on it yet. I don't expect it is a really tough, but it can be a couple of days work.
Sure, I would appreciate any contribution, also can help with reviews and hints. Do you want to work on it? Would be great!

[2019-04-05 15:40] jacobbogers commented on #60
ok cool, so it implements draft 6 fully right, ? let me take a looksi, found your project via the benchmark page, you are the fastest ,   but not support draft 7,  If i do it will queue it for next weekend 👷 (contribute  other opens source projects)

[2019-04-05 15:47] korzio commented on #60
Right, the 6th draft is implemented. Good luck and let me know if you need any help!

[2019-05-03 12:49] korzio opened #78 "Fix failing tests draft-04/06, update schema usage"
[code]

https://github.com/ebdrup/json-schema-benchmark/pull/37

- [x] Understand the meta schema changes
- [x] Use schema from git repository. Now the schema is taken from npm dependency, and it's not updated anymore
- [x] Fix failing djv tests

Links:
- https://github.com/ebdrup/json-schema-benchmark/pull/37#issuecomment-480858664

Test branch:
- https://github.com/korzio/djv/compare/78-manual-s

[2019-05-03 13:03] korzio commented on #71
[code]

[2019-05-05 15:11] korzio commented on #78
- [ ] Check how it is implemented in alternative json-schema validators

[2019-05-24 10:33] tomitrescak opened #80 "Custom error handler has a strange behaviour"
Hello. Thanks for the cool package.
I am probably not understanding something, but the customErrorHandler reports everything not just errrors. Example:

[code]

This reports:

[code]

Why is all that reported when, foo and boo are obviously correct?
Thanks.

[2019-05-24 10:47] tomitrescak commented on #80
Also, with no error handler it gives only a cryptic message:

js
[code]

result

[code]

[2019-05-24 10:54] tomitrescak commented on #80
And this validates OK, but it should detect error on `goo` type:

[code]

[2019-05-25 15:13] korzio opened #81 "Release 2.1.3"
### Release 2.1.3

To release a package to npm follow the steps

- [ ] Create a release ticket in github. Copy this checklist.
- [ ] Make a release branch
[code]
- [ ] Update package.json version to $VERSIONALPHA and commit
[code]
- [ ] Tag with the alpha version
[code]
- [ ] Publish test npm version $VERSIONALPHA
[code]
- [ ] Check package internals - contains all required files (`lib/`, `README.

[2019-05-25 15:13] korzio commented on #78
Thanks @openself !
Starting to release the fix - https://github.com/korzio/djv/issues/81

[2019-05-25 15:13] #78 closed

[2019-05-25 15:47] korzio opened #82 "Optimization - Improve escape strategy to avoid escape for non-escape properties"
Now

[code]

[code]

Should be

[code]

Example

[code]

- https://github.com/korzio/djv/issues/81
- https://github.com/korzio/djv/issues/78

[2019-05-25 16:03] korzio commented on #81
Before
|[`djv`](https://github.com/korzio/djv#readme)|100%|70560 (± 6.66%)|
|[`ajv`](https://github.com/epoberezkin/ajv)|84.2%|59404 (± 0.36%)|

After
|[`ajv`](https://github.com/epoberezkin/ajv)|100%|24727 (± 2.1%)|
|[`is-my-json-valid`](https://github.com/mafintosh/is-my-json-valid#readme)|64.8%|16013 (± 3.15%)|
|[`djv`](https://github.com/korzio/djv#readme)|16.1%|3970 (± 2.32%)|

[2019-05-25 16:03] korzio commented on #81
Waiting for https://github.com/korzio/djv/issues/82 to release non-alpha version

[2019-05-25 16:35] korzio commented on #71
@nahidakbar I've added 2 tests for the failing case

https://github.com/korzio/djv/blob/issues-71-exceed-maximum-call-stack/test/issues/71.js#L21

1. `should throw reference error when schema is not found, should not exceed maximum call stack`

Checks if the correct error is thrown when validator cannot find a schema.
The validator is not responsive for downloaded remote schema itself,
Use should

[2019-05-25 17:10] korzio commented on #46
Added a branch with failing tests - https://github.com/korzio/djv/tree/issues-46-nested-schemas
This one for example:

[code]

[2019-06-21 08:45] aladdin-add opened #83 "2.1.3-alpha.0 not released in github(tag)"
seems the latest tag is v2.0.0

[2019-06-24 12:32] Relequestual commented on #60
*ahem* draft-8 is now impending.

[2019-06-25 11:29] korzio commented on #83
@aladdin-add You are right! I've forgotten to push tags!
Done - https://github.com/korzio/djv/tree/2.1.3-alpha.0 , thanks!
I will also update Contribution guide in a next commit

[2019-06-25 11:29] #83 closed

[2019-07-09 09:45] korzio opened #85 "Fix eslint findings"
Eslint started failing after automaic github npm eslint dependency update

https://github.com/korzio/djv/pull/84

Need to
- [ ] Check why it started failing, no changes were introduced
- [ ] Fix valid errors
- [ ] Add ignore rules if needed

[2019-09-05 07:37] sonufarid opened #86 "format: ipv4 regular expression seems to be wrong"
While testing the ipv4 format checker in my application, I noticed this problem.

Test case:
`
env = new djv()
schema = {type: "string",  format: "ipv4"}
env.addSchema('field', schema)
env.validate('field', "1.1.1111111.1") // = undefined
env.validate('field', "111111111111.1111111111111.11111111111111111111111111111111122222222222222.11") // = undefined

`
This is due to the regular expression us

[2019-10-23 17:59] korzio opened #89 "Finish work on TS"
https://github.com/korzio/djv/pull/88

[2019-10-24 14:20] Bessonov commented on #60
16 September 2019: Draft 2019-09 (formerly known as draft-08) has been published! :)

[2019-11-12 00:47] handrews commented on #60
@korzio draft-07 is a fairly straightforward superset of draft-06

draft 2019-09 has more substantial changes, but we are hoping that it will be the stable base for finalizing the standard.  There are a few of the new areas where we still need some feedback to finish things up.  Note that OpenAPI 3.1 will use JSON Schema draft 2019-09, which will remove one of the main reasons people have stayed o

[2019-11-12 09:49] korzio commented on #60
Thanks @handrews , hopefully we'll be able to implement new standard versions soon

[2019-11-19 20:40] philsturgeon commented on #60
@korzio hey, I didnt know you were in Amsterdam or I'd have come said hello. I'm in the market for a new JavaScript JSON Schema validator, and DJV could well be it. If you can get 2019-09 support in there then absolutely. Do you have an OpenCollective we can support?

[2019-11-22 16:36] korzio opened #90 "Sync Test suite with json-schema-benchmark"
1. Ensure test suite is equal to the one used inside the https://github.com/ebdrup/json-schema-benchmark/ repository . Currently https://github.com/json-schema-org/JSON-Schema-Test-Suite is a git dependency inside `package.json` for the `djv` project. Inside the https://github.com/ebdrup/json-schema-benchmark/ it is used in a different way - as a git sub module.

- Hint - use
https://github.com/eb

[2019-11-29 17:25] korzio commented on #90
Dear @ebdrup

We see that in the json-schema-benchmark repository you use a git submodule for JSON-Schema-Test-Suite dependency.
We see in the github a link to the commit with the SHA 86f965e53dda0b6c57e70ddd726243e1e061cf84 , but we cannot find any reference in the codebase about this specific commit.
We also see that the latest "tagged" version of JSON-Schema-Test-Suite is https://github.com/jso

[2019-11-30 11:09] korzio commented on #60
Hey @philsturgeon Thanks! Next time you are in Amsterdam - let me know 😄No, don't have OpenCollective yet, would you suggest to start it?

[2019-12-06 09:43] xXMarcinatorXx opened #91 "draft-08"
Any eta. on when draft-08 is supported

[2019-12-07 13:18] korzio commented on #90
https://github.com/korzio/djv/pull/92

[2019-12-07 13:21] korzio commented on #90
- [ ] Test https://github.com/korzio/djv/pull/92 with `86f965e53dda0b6c57e70ddd726243e1e061cf84` json-schema-benchmark
- [ ] Check performance before @openself last commit and after https://github.com/korzio/djv/pull/92
- [ ] Test other validator refacroting
- [ ] Make decision

[2019-12-08 13:14] #91 closed

[2019-12-08 13:17] xXMarcinatorXx commented on #60
Any idea of when draft-08 is supported?

[2019-12-09 16:37] philsturgeon commented on #60
@korzio I'll be there next week after API Days Paris, we can chat over a beverage.

[2020-02-01 02:13] handrews commented on #60
@korzio @Relequestual just set up an OpenCollective for the JSON Schema project so he might have thoughts on that.

[2020-02-01 10:51] korzio commented on #60
@handrews thanks!
We have chatted with @philsturgeon openAPI
If you guys @Relequestual have any proposals anyways, would be glad to hear.
So far draft7 is in plans, but not in wip unfortunately.

[2020-02-05 11:28] Relequestual commented on #60
@korzio Happy to chat about this if you'd like! Please find / DM me on the JSON Schema slack =]

[2020-03-23 20:30] juanmait commented on #67
I've the same issue. The first time that I try the library.
[code]

So there is no way to know what did failed? Ajv have better errors but it has such a bad implementation. The way that it works makes compiling schemas before hand pretty much useless.

[2020-05-07 14:57] ebdrup opened #94 "Failing tests on json-schema-benchmark"
Hi @korzio
Great module! I'm created , and I'm currently in the process of updating the bechnmark to use the latests version of the JSON schema test suite in this PR https://github.com/ebdrup/json-schema-benchmark/pull/44/files#diff-923bb3ac7231e7efc1f5ffdbc1cf3489R18

In the link above you can see that djv seems to be failing a lot of the tests, and that would exclude djv completely from the benc

[2020-07-28 08:54] bytesnz opened #95 "`date-time` format errors with number"
## Error
Given a numeric value, validating against a `string` schema with a `date-time` format, the [validate template function](https://github.com/korzio/djv/blob/2.1.2/lib/utils/formats.js#L16) for the `date-time` error throws an error.

Initially noticed on latest version (2.1.3-alpha.0), but also occurs on 2.1.2

## Expected Result
It does not throw and returns a type error for the value if `t

[2020-08-31 11:19] bytesnz commented on #54
If you are looking at adding standardised error messages, I would love to seem them be something you can choose to add to the existing error object and be designed with i18n/l20n in mind. For example using [Fluent](https://www.projectfluent.org). I would be happy to start on an PR for this if you'd like?

[2020-12-27 11:13] korzio opened #100 "Release 2.1.4"
- [x] Create a release ticket in github. Copy this checklist.
- [x] Make a release branch
[code]
- [x] Update package.json version to $VERSIONALPHA and commit
[code]
- [x] Tag with the alpha version
[code]
- [x] Publish test npm version $VERSIONALPHA
[code]
- [x] Check package internals - contains all required files (`lib/`, `README.md`, `./djv.js`, `package.json`, ...), no extra files
- [x] Check

[2020-12-27 11:51] korzio commented on #100
# Performance

![performance](https://chart.googleapis.com/chart?chxt=x,y&cht=bhs&chco=76A4FB&chls=2.0&chbh=196,4,1&chs=600x420&chxl=-1:|djv|ajv&chd=t:100,98.7)

|Validator|Relative speed|Number of test runs per second|
|---------|:------------:|:----------------------------:|
|[`djv`](https://github.com/korzio/djv#readme)|100%|125473811 (± 1.36%)|
|[`ajv`](https://github.com/ajv-validator/ajv)|98

[2020-12-27 16:49] korzio commented on #100
https://gitter.im/korzio/djv?at=5fe8ba0c63fe0344962094af

[2020-12-27 16:49] #100 closed